datasets==4.0.0
math_verify==0.8.0
numpy==2.3.5
pytest==8.4.2
regex==2025.11.3
setuptools==75.2.0
sympy==1.14.0
termcolor==3.2.0
torch==2.9.0+cu126
tqdm==4.67.1
transformers==4.57.2
word2number==1.1

antlr4-python3-runtime==4.11.1
latex2sympy2  # Local package, install via: pip install -e src/extract_judge_answer/latex2sympy